<footer class="blog-footer">
    <p>
        Testing for GA site.
    </p>
    <p>
        DOT_MIN = <%= DOT_MIN %> ***<%= process.env.NODE_ENV %>***
    </p>
    <a href="#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/header<%= DOT_MIN %>.js"></script>

<script src="/js/gtm/productClick<%= DOT_MIN %>.js"></script>
<script src="/js/gtm/customDimension<%= DOT_MIN %>.js"></script>
<script src="/js/gtm/userId<%= DOT_MIN %>.js"></script>
</body>